<h1>Index of Messages!</h1>
<table class="message_list">
	<% for m in @messages %>
			<tr class="message_date"><td><h3>Received <%= m.created_at.to_s(:short) %></h3></td></tr>
			<tr class="message_content"><td><p><%= m.msg %></p></td></tr>
	<% end %>
</table>